/* for the font of all text */
@media only screen and (max-width: 400px) {
    h1 {
      font-size:2em;
    }
    img {
      width:100%;
    }
    
  }
  
body{
    font-family: 'Arial';  
    border: 10px solid rgb(184, 184, 219);
  }
  
  /* margin around the wbesite */
.wrapper{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0;
    
}
  
header{
    width: 100%;
    height: 100px;
    background-color:rgb(8, 146, 238);
    
}
  
.logo{
    width: 30%;
    float: left;
    text-align: left;
    line-height: 100px;
}
.logo a{
    text-decoration: none;
    font-size:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
     
}
  nav{
    float:right ;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: "poppins";
    font-size: 30px;
    color: rgb(8, 0, 0) ;
    padding: 5px;
    margin: 0 1px
  
}
nav a:hover{
    background-color: rgb(14, 14, 14);
    color:rgb(250, 248, 248)
  
}
  
.banner-area{
    background-color:rgb(8, 146, 238);
    width: 100%;
}
  
.banner-area h2{
    padding-top: 2%;
    font-size: 80px;
    color:rgb(1, 21, 9);
    text-align:center ;
    padding-bottom: 6%;
    
}

.content-area{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 0%;
   
   
}  

.content-area p{
    line-height: 30px;
    text-align: center;
    font-size: 25px;
}

.photoHome{
    position:relative;
    justify-content: center;
    display:grid;
    padding-bottom: 20x;
    background-color:rgb(8, 146, 238);
    
}

.customer-reviews{
    border: 3px solid #fff;
    padding: 20px;
    
}

.customer-reviews h2{
    text-align: center;
}

.c1{
    width: 49%;
    float: left;
    margin-bottom: 10px;
    border: solid blue;
}

.c2{
    width:49%;
    float:right;
    border: solid blue;
    margin-bottom: 10px;
}

.nav2{
    padding-top: 10px;
    text-align: center;
   
}

.nav2 a{
    text-decoration: none;
    font-family: "poppins";
    font-size: 30px;
    color: rgb(8, 0, 0) ;
    padding: 10px;
    margin: 0 1px
}

.nav2 a:hover{
    background-color: rgb(14, 14, 14);
    color:rgb(250, 248, 248)
  
}

.footer{
    padding: 10px;
}

body{
    text-align: center;
    
}
body table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}


.all-drinks{
    border: 3px solid #fff;
    padding: 20px;
}

.logo img{
    width:32%;
    
}

.form {
    width: 100%;

}

form img{
    width:100%;
}

