/* for the font of all text *  
body{
    font-family: 'Arial';  
    border: 10px saddlebrown;
  }
  
  /* margin around the wbesite */
.wrapper{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0;
    
}
  
header{
    width: 100%;
    height:8em;
    background-color:bisque;
    
}
  
.logo{
    width: 32%;
    float: left;
    text-align: left;
    height: 32%;
}
nav{
float:right ;
text-align: center;

    
}
nav a{
    text-decoration: none;
    font-family: "poppins";
    font-size: 1.8em;
    color: rgb(8, 0, 0) ;
    padding-top: 10;
    margin-top: 50;
    background-color: rgb(242, 247, 247);
    
    
  
}

nav a:hover{
    background-color: rgb(14, 14, 14);
    color:rgb(250, 248, 248)
  
}
  
.banner-area{
    background-color:bisque;
    width: 100%;
    height: auto;
    padding:0
}
  
.banner-area h2{
    padding-top: 2%;
    font-size: 4em;
    color:rgb(1, 21, 9);
    text-align:center ;
    padding-bottom: 6%;
}

h3{
    font-size: 2em;
}

h2{
    font-size: 3em;
}

p{
    font-size: 2em;
}

.main-content-area{
    width: 100%;
    min-height: 50em;
    background-size:cover;
    padding-bottom: 0%;
    background-image: url('restaurant1.jpg');
    line-height: 800px;
    
}  

.main-content-area h2{
    font-size: 3em;
    text-align: center;
    font-weight:bolder;
    color:blue;
}

@media screen and (max-width: 400){
    .main-content-area h2{
        font-size: 1px;
    }
}

.content-area {
padding:0;
margin:0;
}

.photoHome{
    position:relative;
    justify-content: center;
    display:grid;
    padding-bottom: 20x;
    width: 100%;
}

.photoHome img{
    width:100%;
}

.customer-reviews{
    height:fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: medium;   
    
}

.c1{
    width: 100%;
    border: solid blue;
    background-color: bisque;
    margin: 10px;
    font-size: 2em;
}

.c2{
    width:100%;
    border: solid blue;
    background-color: antiquewhite;
    margin: 10px;
    font-size:2em;
}

.nav2{
    padding-top: 10px;
    text-align: center;
   
}

.nav2 a{
    text-decoration: none;
    font-family: "poppins";
    font-size: 30px;
    color: rgb(8, 0, 0) ;
    padding: 10px;
    margin: 0 1px
}

.nav2 a:hover{
    background-color: rgb(14, 14, 14);
    color:rgb(250, 248, 248)
  
}

.footer{
    padding: 10px;
}

footer p{
    font-size: 1em;
}

body{
    text-align: center;
    
}
body table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}


.all-drinks{
    border: 3px solid #fff;
    padding: 20px;
}

.logo img{
    width:32%;
    
}

.form {
    width: 100%;

}


.foodimg {
    justify-content: center;
    
}

.all-drinks{
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-position: inside;
    max-width:100;
    justify-content: center;
    margin:0;
    padding:0;
    

}

.drinks-area1 li{
    border: solid black;
    font-size: 1.1em;
    margin: 0%;
}
@media only screen and (max-width: 600px){
    .drinks-area1 li{
    border: solid black;
    font-size: 0.9em;
    margin: 0%;
        
    }
}

.drinks-area1{
    margin:0;
    padding:0;
    width:30%
}

@media only screen and (max-width: 600px){
    .drinks-area1{
        margin:0;
        padding:0;
        width:80%
    }
    
}

.drinks-area2 li{
    border: solid black;
    font-size: 1.1em;
}

@media only screen and (max-width: 600px){
    .drinks-area2 li{
    border: solid black;
    font-size: 0.9em;
    margin: 0%;
        
    }
}



.drinks-area2{
    margin:0;
    padding:0;
    width: 30%
    
}

@media only screen and (max-width: 600px){
    .drinks-area2{
        margin:0;
        padding:0;
        width:80%
    }
    
}

.drinks-area3 li{
    border: solid black;
    font-size: 1em;
}

@media only screen and (max-width: 600px){
    .drinks-area3 li{
    border: solid black;
    font-size: 0.9em;
    }
    
}
.drinks-area3{
    margin:0;
    padding:0;
    width: 20%
    
}

@media only screen and (max-width: 600pX) {
    .drinks-area3{
        margin:0;
        padding:0;
        margin-left: 5px;
        width:80%;
    }
}


.drinks-area4 li{
    border: solid black;
    font-size: 1em;
}

@media only screen and (max-width: 600px){
    .drinks-area4 li{
    border: solid black;
    font-size: 0.9em;
    }
    
}


.drinks-area4{
    margin:0;
    padding:0;
    margin-left: 5px;
    width:20%
}

@media only screen and (max-width: 600pX) {
    .drinks-area4{
        margin:0;
        padding:0;
        margin-left: 5px;
        width:80%;
    }
}

.price1 li{
    border: solid black;
    font-size: 1.1em;
    margin: 0%;
    padding: 0;
}
@media only screen and (max-width: 600px){
    .price1 li{
    border: solid black;
    font-size: 0.9em;
    margin: 0%;
    padding: 0;
        
    }
    
}

.price1 {
    margin:0;
    padding:0;
    width:12%
}

.price2 li{
    border: solid black;
    font-size: 1.09em;
    padding: 0;
}

@media only screen and (max-width: 600px){
    .price2 li{
    border: solid black;
    font-size: 0.8em;
    margin: 0%;
    padding: 0;
    background-color: aqua;
    
        
    }
    
}

.price2 {
    margin:0;
    padding:0;
    width: 12%
}

.price3 li{
    border: solid black;
    font-size: 1em;
    padding: 0;
    
}

@media only screen and (max-width: 600px){
    .price3 li{
    border: solid black;
    font-size: 0.9em;
    padding: 0;
        
    }
    
}

.price3 {
    margin:0;
    padding:0;
}

@media only screen and (max-width: 600px){
    .price3{
    margin: 0%;
    padding: 0;
    width: 15%  
    }
    
}
.price4 li{
    border: solid black;
    font-size: 1em;
    padding: 0;
    
    
}

@media only screen and (max-width: 600px){
    .price4 li{
    border: solid black;
    font-size: 0.9em;
    margin: 0%;
    padding: 0;
        
    }
    
}

.price4 {
    margin:0;
    padding:0;
}

@media only screen and (max-width: 600px){
    .price4 {
    margin: 0%;
    padding: 0;
    width: 15%;
        
    }
    
}

.t1{
    font-size: 1.2em;
}


